@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.app {
    background-color: #deeeea;
    min-height: 100vh;
    padding-bottom: 50px;
}

header {
    margin-bottom: 50px;
    padding: 15px 25px;
    background: #bf1363;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 3.55819125em;
    color: #fff;
    margin-bottom: 25px;
}

h4 {
    display: none;
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: bold;
    color: #bf1363;
}

.gif:after {
    content: "";
    width: 50px;
    height: 5px;
    background-color:#bf1363;
    display: block;
    margin-top: 20px;
    position: absolute;
    top: 15%;
    left: 40%;
    line-height: 1.5em;

}
.loader {
    justify-content: center;
    color: #f21170;
}

.bordered {
    border: 15px solid #9bd6c7;
    margin-right: 0;
    max-width: 100%;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.gif {
    max-width: 200px !important;
    max-height: 200px !important;
    padding: 0 !important;
    margin: 28px;
}

.gif:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

.searchBox {
    font-size: 20px;
    outline: none;
    border-radius: 25px;
    border: 1px solid #fff !important;
    height: 46px;
    box-shadow: none;
}

.searchBox:focus {
    box-shadow: none;
}

.searchBtn {
    background: #fff;
    color: #bf1363;
    border-radius: 50%;
    outline: none;
    border: none;
    margin-left: 10px;
    height: 48px;
    width: 48px;
}

.searchBtn:hover {
    opacity: 0.6;
}

.searchBtn:active, .searchBtn:hover {
    outline: none;
    border: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 20px 0;
}

footer {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    color: #fff;
    text-align: center;
    padding: 40px 10px;
    font-size: 18px;
}

/* Media queries */

@media screen and (max-width: 768px) {
    button {
        margin-top: 10px;
    }

    .gif {
        margin-right: 0;
    }
}

@media screen and (max-width: 449px) {
    h4 {
        display: block;
        margin: 25px 0;
        text-orientation:sideways-right;
    }
}